:deep(.avue-crud__header) {
  margin-top: 11px;
  padding-top: 11px;
  border-top: 2px solid #f2f2f2 !important;
}
.el-image {
  width: 120px;
  border-radius: 5%;
}
 /deep/ .avue-form__menu {
  padding-top: 40px;
  right: 0;
}
